

<table>
  <th><h1><%=@film['Title']%></h1></th>
  <tr>
    <td>Year:</td>
    <td><%=@film['Year']%></td>
  </tr>
  <tr>
    <td>Rated:</td>
    <td><%=@film['Rated']%></td>
  </tr>
  <tr>
    <td>Genre:</td>
    <td><%=@film['Genre']%></td>
  </tr>
  <tr>
    <td>Director:</td>
    <td><%=@film['Director']%></td>
  </tr>
  <tr>
    <td>Plot:</td>
    <td><%=@film['Plot']%></td>
  </tr>
</table>
<aside class="image">
  <img src="<%=@film['Poster']%>" alt="">
</aside>
<!-- <ul>
  <ol><%=@film['Year']%></ol>
  <ol><%=@film['Rated']%></ol>
  <ol><%=@film['Released']%></ol>
  <ol><%=@film['Genre']%></ol>
  <ol><%=@film['Director']%></ol>
  <ol><%=@film['Plot']%></ol>
  <ol>
    <img src="<%=@film['Poster']%>" alt="">
  </ol>
</ul> -->

<!-- {"Title"=>"Jaws",
 "Year"=>"1975",
 "Rated"=>"PG",
 "Released"=>"20 Jun 1975",
 "Runtime"=>"124 min",
 "Genre"=>"Adventure, Drama, Thriller",
 "Director"=>"Steven Spielberg",
 "Writer"=>
  "Peter Benchley (screenplay), Carl Gottlieb (screenplay), Peter Benchley (based on the novel by)",
 "Actors"=>"Roy Scheider, Robert Shaw, Richard Dreyfuss, Lorraine Gary",
 "Plot"=>
  "A giant great white shark arrives on the shores of a New England beach resort and wreaks havoc with bloody attacks on swimmers, until a local sheriff teams up with a marine biologist and an old seafarer to hunt the monster down.",
 "Language"=>"English",
 "Country"=>"USA",
 "Awards"=>"Won 3 Oscars. Another 10 wins & 18 nominations.",
 "Poster"=>
  "https://images-na.ssl-images-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg",
 "Ratings"=>
  [{"Source"=>"Internet Movie Database", "Value"=>"8.0/10"},
   {"Source"=>"Rotten Tomatoes", "Value"=>"97%"},
   {"Source"=>"Metacritic", "Value"=>"87/100"}],
 "Metascore"=>"87",
 "imdbRating"=>"8.0",
 "imdbVotes"=>"460,601",
 "imdbID"=>"tt0073195",
 "Type"=>"movie",
 "DVD"=>"11 Jul 2000",
 "BoxOffice"=>"N/A",
 "Production"=>"Universal Pictures",
 "Website"=>"http://www.jaws25.com/",
 "Response"=>"True"} -->
