
<h1><%=@dish.name%></h1>
<img src="<%=@dish.image_url%>" alt="">

<form action="/dishes/<%=@dish.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>

<a href="/dishes/<%=@dish.id%>/edit">Edit</a>
<% @comment.each do |comment| %>
<p><%= comment.body %></p>
<% end %>

<form class="" action="/comments" method="post">
<input type="hidden" name="dish_id" value="<%= @dish.id %>">
  <textarea name="body" rows="8" cols="80"></textarea>
  <button>Add Comment</button>
</form>
